<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <link rel="icon" type="image/png" href="{{ baseUrl }}/-/static/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/-/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="body">
    <div id="root"></div>
    <script>
        window.__INITIAL_STATE = JSON.parse('{{{data}}}');
    </script>
    <script type='text/javascript' src='{{ baseUrl }}/-/static/bundle.js'></script>
  </body>
</html>
