<article class='entry' data-name='{{ name }}' data-version='{{ version }}'>
	<h3 class='title'>
		<a class='name icon-angle-right npm-red' href='javascript:void(0)'>{{ name }}</a>
		<small class='version'>v{{ version }}</small>
		<div class='author'>
			<small>By: {{ _npmUser.name }}</small>
		</div>
	</h3>
	<p class="description">{{ description }}</p>
</article>
