<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>{{ name }}</title>
	</head>
	<body>
		<h1><a href='/'>{{ name }}</a></h1>

		<form>
			<input type='search' name='q' />
			<button>Search</button>
		</form>

		<h2>Setup:</h2>
		<code>
			npm set registry {{ baseUrl }}<br>
			npm adduser --registry {{ baseUrl }}
		</code>

		{{#each packages}}
			<article>
				<h3>{{ name }} <small>v{{ version }}</small></h3>
				<div>User: {{ _npmUser.name }}</div>
				<p>{{ description }}</p>
			</article>
		{{/each}}
	</body>
</html>
