<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>{{ name }}</title>
	</head>
	<body>
		<h1>{{ name }}</h1>

		<input type='search' />
		<button>Search</button>

		{{#each locals}}
			<article>
				<h2>{{ name }} <small>v{{ version }}</small></h2>
				<div>By: {{ _npmUser.name }}</div>
			</article>
		{{/each}}
	</body>
</html>
